In [1]:
a=2
type(a)

int

In [2]:
a=2.3
type(a)

float

In [3]:
type('hello, world')

str

In [4]:
"my dog's friend"

"my dog's friend"

In [5]:
my_str= """It was the best,
it was the worst..."""

In [6]:
my_str

'It was the best,\nit was the worst...'

In [7]:
print(my_str)

It was the best,
it was the worst...

In [8]:
10^200
10**2

100

In [9]:
5 % 3 #remainder of division
5 // 3 #round divide

1

In [10]:
2/3
6/3  # still a float
int(6/3)
int(2/3) # floor

0

In [11]:
2.1+3.2   # finite precision

5.300000000000001

In [12]:
int('42')+58

100

In [13]:
a=7
a += 5   #a=a+5
a

12

In [14]:
a /= 3
a

4.0

In [15]:
5==5

True

In [16]:
type(True)

bool

In [17]:
2.1 + 3.2 == 5.3

False

In [18]:
2.2 + 3.2 == 5.4

True

In [19]:
abs(2.1 + 3.2 - 5.3) < 1e-12    #10**-12

True

In [20]:
'st'>'lo'   # compare unicode for initial

True

In [21]:
ord('µ')   #unicode  # alt m == u

181

In [22]:
'st'=='si' # compare evrything

False

In [23]:
str1='lebron'
str2='lebron'
str1 is str2   # are their values store in the same place?

True

In [24]:
a=5.6
b=5.6
a is b

False

In [25]:
a=5.6
b=a
a is b

True

In [26]:
a=6.5
a is b   # immutable

False

In [27]:
not (False or True)   # or: logic operator

False

In [28]:
#sets bit not covered

In [29]:
True + False   #可用于序列计数

1

In [30]:
codon="AUG"

if codon =="AUG":
    print("start")
elif codon == "UAA" or codon=='UAG' or codon =='UGA':
    print("MIDDLE")
else:
    print("neither")

start

In [31]:
my_var=5

In [32]:
my_list_1=[1,1,4,'apple',
           [1,2,3],4]
type(my_list_1)

list

In [33]:
my_list_1

[1, 1, 4, 'apple', [1, 2, 3], 4]

In [34]:
[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

In [35]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [36]:
4 in my_list_1

True

In [37]:
codon="AUG"
stop=["UAA",'UAG','UGA']

if codon =="AUG":
    print("start")
elif codon in stop:
    print("stop")
else:
    print("neither")

start

In [38]:
my_list_1[4][2]

3

In [39]:
my_list_1[-1]

4

In [40]:
my_list_1[0:100]

[1, 1, 4, 'apple', [1, 2, 3], 4]

In [41]:
my_list_1[0:-3]  #不包括-3

[1, 1, 4]

In [42]:
#start:stop:stride
#default 0, go to the end, 1
my_list_1[::-1]

[4, [1, 2, 3], 'apple', 4, 1, 1]

In [43]:
my_list_1[2]='banana'

In [44]:
my_list=[1,2,3]
print(id(list))
my_list[2]=4
print(id(list))   # immutable

4376162144
4376162144

In [45]:
a=6   # space for 6 go to garbage collection
print(id(a))
a=7   # 'a' point to another space
print(id(a))

4376466944
4376466976

In [50]:
my_list=[1,2,3]
my_list_2=my_list    # refer to list, not a copy; but variable is the opposite, see up
id(my_list),id(my_list_2)

(4424022664, 4424022664)

In [51]:
my_list_2[1]=7

In [52]:
my_list

[1, 7, 3]

In [53]:
list('The apple')

['T', 'h', 'e', ' ', 'a', 'p', 'p', 'l', 'e']

In [54]:
# tuple: like a list, other than cannot change anything inside

In [56]:
a_tuple=(0,)

In [57]:
not_a_tuple=(0)

In [58]:
my_tuple=(1,2,3)

In [60]:
a,b,c=my_tuple
a

1

In [61]:
my_tuple[0]

1

In [62]:
my_list=list(my_tuple)  # avoid the problem, copy with a different location
my_list='a'
my_list

'a'