In [ ]:
#Q1,2,3,4,5 in Tableau

#Q4 => There is equality in terms of Job position.
#Q5 => Production department has the highest job satisfaction.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("HRDataset.csv")
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,Gender,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,"Boutwell, Bonalyn",10081.0,1.0,1.0,Female,1.0,1.0,3.0,1.0,106367.0,...,4,80,0,10,5,3,10,2,6,7
1,"Brown, Mia",10238.0,1.0,1.0,Female,1.0,1.0,3.0,1.0,63000.0,...,3,80,0,22,2,2,2,2,2,1
2,"Foster-Baker, Amy",10080.0,1.0,1.0,Male,1.0,1.0,3.0,0.0,99351.0,...,3,80,0,5,3,4,5,4,0,4
3,"Howard, Estelle",10182.0,1.0,1.0,Female,1.0,1.0,3.0,0.0,49920.0,...,3,80,1,4,2,3,2,2,2,2
4,"LaRotonda, William",10038.0,0.0,2.0,Male,1.0,1.0,3.0,0.0,64520.0,...,4,80,2,2,6,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,"Quinn, Sean",10131.0,1.0,1.0,Female,5.0,1.0,3.0,1.0,83363.0,...,3,80,1,11,5,3,11,10,4,1
308,"Saada, Adell",10126.0,1.0,1.0,Male,1.0,4.0,3.0,0.0,86214.0,...,3,80,1,9,3,3,2,2,2,2
309,"Szabo, Andrew",10024.0,0.0,0.0,Male,1.0,4.0,4.0,0.0,92989.0,...,3,80,0,3,4,4,3,2,1,0
310,"True, Edward",10102.0,0.0,0.0,Female,5.0,4.0,3.0,1.0,100416.0,...,3,80,0,17,3,3,17,12,5,7
311,NaN,NaN,NaN,NaN,Male,NaN,NaN,NaN,NaN,NaN,...,3,80,1,24,2,3,24,9,9,11

In [8]:
for k in df.index: #Q6
    if (df.loc[k,"Salary"] == df["Salary"].min()):
        print(df.loc[k,"Employee_Name"])

Zima, Colleen

In [9]:
df.loc[df["CitizenDesc"]=="US Citizen"].count() #Q7

Employee_Name                 295
EmpID                         295
MarriedID                     295
MaritalStatusID               295
Gender                        295
EmpStatusID                   295
DeptID                        295
PerfScoreID                   295
FromDiversityJobFairID        295
Salary                        295
Termd                         295
PositionID                    295
Position                      295
State                         295
Zip                           295
DOB                           295
Sex                           295
MaritalDesc                   295
CitizenDesc                   295
DateofHire                    295
DateofTermination              96
TermReason                    295
EmploymentStatus              295
Department                    282
ManagerName                   295
ManagerID                     287
RecruitmentSource             295
PerformanceScore              295
EngagementSurvey              295
EmpSatisfaction               295
SpecialProjectsCount          295
LastPerformanceReview_Date    295
DaysLateLast30                295
Absences                      295
DistanceFromHome              295
Age                           295
Attrition                     295
BusinessTravel                295
Education                     295
EducationField                295
JobSatisfaction               295
MonthlyIncome                 295
MonthlyRate                   295
NumCompaniesWorked            295
OverTime                      295
PercentSalaryHike             295
PerformanceRating             295
StandardHours                 295
StockOptionLevel              295
TotalWorkingYears             295
TrainingTimesLastYear         295
WorkLifeBalance               295
YearsAtCompany                295
YearsInCurrentRole            295
YearsSinceLastPromotion       295
YearsWithCurrManager          295
dtype: int64

In [ ]:
#Q7 => 312-295 = 17 
#This method is done only since the data is considerably small
#For huge data, take count of all other citizens and add the number

In [10]:
df.loc[df["RecruitmentSource"]=="CareerBuilder"].count() #Q8

Employee_Name                 23
EmpID                         23
MarriedID                     23
MaritalStatusID               23
Gender                        23
EmpStatusID                   23
DeptID                        23
PerfScoreID                   23
FromDiversityJobFairID        23
Salary                        23
Termd                         23
PositionID                    23
Position                      23
State                         23
Zip                           23
DOB                           23
Sex                           23
MaritalDesc                   23
CitizenDesc                   23
DateofHire                    23
DateofTermination             11
TermReason                    23
EmploymentStatus              23
Department                    23
ManagerName                   23
ManagerID                     23
RecruitmentSource             23
PerformanceScore              23
EngagementSurvey              23
EmpSatisfaction               23
SpecialProjectsCount          23
LastPerformanceReview_Date    23
DaysLateLast30                23
Absences                      23
DistanceFromHome              23
Age                           23
Attrition                     23
BusinessTravel                23
Education                     23
EducationField                23
JobSatisfaction               23
MonthlyIncome                 23
MonthlyRate                   23
NumCompaniesWorked            23
OverTime                      23
PercentSalaryHike             23
PerformanceRating             23
StandardHours                 23
StockOptionLevel              23
TotalWorkingYears             23
TrainingTimesLastYear         23
WorkLifeBalance               23
YearsAtCompany                23
YearsInCurrentRole            23
YearsSinceLastPromotion       23
YearsWithCurrManager          23
dtype: int64

In [11]:
df.loc[df["RecruitmentSource"]=="Diversity Job Fair"].count() #Q8

Employee_Name                 29
EmpID                         29
MarriedID                     29
MaritalStatusID               29
Gender                        29
EmpStatusID                   29
DeptID                        29
PerfScoreID                   29
FromDiversityJobFairID        29
Salary                        29
Termd                         29
PositionID                    29
Position                      29
State                         29
Zip                           29
DOB                           29
Sex                           29
MaritalDesc                   29
CitizenDesc                   29
DateofHire                    29
DateofTermination             16
TermReason                    29
EmploymentStatus              29
Department                    26
ManagerName                   29
ManagerID                     29
RecruitmentSource             29
PerformanceScore              29
EngagementSurvey              29
EmpSatisfaction               29
SpecialProjectsCount          29
LastPerformanceReview_Date    29
DaysLateLast30                29
Absences                      29
DistanceFromHome              29
Age                           29
Attrition                     29
BusinessTravel                29
Education                     29
EducationField                29
JobSatisfaction               29
MonthlyIncome                 29
MonthlyRate                   29
NumCompaniesWorked            29
OverTime                      29
PercentSalaryHike             29
PerformanceRating             29
StandardHours                 29
StockOptionLevel              29
TotalWorkingYears             29
TrainingTimesLastYear         29
WorkLifeBalance               29
YearsAtCompany                29
YearsInCurrentRole            29
YearsSinceLastPromotion       29
YearsWithCurrManager          29
dtype: int64

In [12]:
df.loc[df["RecruitmentSource"]=="Employee Referral"].count() #Q8

Employee_Name                 31
EmpID                         31
MarriedID                     31
MaritalStatusID               31
Gender                        31
EmpStatusID                   31
DeptID                        31
PerfScoreID                   31
FromDiversityJobFairID        31
Salary                        31
Termd                         31
PositionID                    31
Position                      31
State                         31
Zip                           31
DOB                           31
Sex                           31
MaritalDesc                   31
CitizenDesc                   31
DateofHire                    31
DateofTermination              5
TermReason                    31
EmploymentStatus              31
Department                    29
ManagerName                   31
ManagerID                     31
RecruitmentSource             31
PerformanceScore              31
EngagementSurvey              31
EmpSatisfaction               31
SpecialProjectsCount          31
LastPerformanceReview_Date    31
DaysLateLast30                31
Absences                      31
DistanceFromHome              31
Age                           31
Attrition                     31
BusinessTravel                31
Education                     31
EducationField                31
JobSatisfaction               31
MonthlyIncome                 31
MonthlyRate                   31
NumCompaniesWorked            31
OverTime                      31
PercentSalaryHike             31
PerformanceRating             31
StandardHours                 31
StockOptionLevel              31
TotalWorkingYears             31
TrainingTimesLastYear         31
WorkLifeBalance               31
YearsAtCompany                31
YearsInCurrentRole            31
YearsSinceLastPromotion       31
YearsWithCurrManager          31
dtype: int64

In [13]:
df.loc[df["RecruitmentSource"]=="Google Search"].count() #Q8

Employee_Name                 49
EmpID                         49
MarriedID                     49
MaritalStatusID               49
Gender                        49
EmpStatusID                   49
DeptID                        49
PerfScoreID                   49
FromDiversityJobFairID        49
Salary                        49
Termd                         49
PositionID                    49
Position                      49
State                         49
Zip                           49
DOB                           49
Sex                           49
MaritalDesc                   49
CitizenDesc                   49
DateofHire                    49
DateofTermination             30
TermReason                    49
EmploymentStatus              49
Department                    45
ManagerName                   49
ManagerID                     46
RecruitmentSource             49
PerformanceScore              49
EngagementSurvey              49
EmpSatisfaction               49
SpecialProjectsCount          49
LastPerformanceReview_Date    49
DaysLateLast30                49
Absences                      49
DistanceFromHome              49
Age                           49
Attrition                     49
BusinessTravel                49
Education                     49
EducationField                49
JobSatisfaction               49
MonthlyIncome                 49
MonthlyRate                   49
NumCompaniesWorked            49
OverTime                      49
PercentSalaryHike             49
PerformanceRating             49
StandardHours                 49
StockOptionLevel              49
TotalWorkingYears             49
TrainingTimesLastYear         49
WorkLifeBalance               49
YearsAtCompany                49
YearsInCurrentRole            49
YearsSinceLastPromotion       49
YearsWithCurrManager          49
dtype: int64

In [14]:
df.loc[df["RecruitmentSource"]=="Indeed"].count() #Q8

Employee_Name                 87
EmpID                         87
MarriedID                     87
MaritalStatusID               87
Gender                        87
EmpStatusID                   87
DeptID                        87
PerfScoreID                   87
FromDiversityJobFairID        87
Salary                        87
Termd                         87
PositionID                    87
Position                      87
State                         87
Zip                           87
DOB                           87
Sex                           87
MaritalDesc                   87
CitizenDesc                   87
DateofHire                    87
DateofTermination             21
TermReason                    87
EmploymentStatus              87
Department                    86
ManagerName                   87
ManagerID                     86
RecruitmentSource             87
PerformanceScore              87
EngagementSurvey              87
EmpSatisfaction               87
SpecialProjectsCount          87
LastPerformanceReview_Date    87
DaysLateLast30                87
Absences                      87
DistanceFromHome              87
Age                           87
Attrition                     87
BusinessTravel                87
Education                     87
EducationField                87
JobSatisfaction               87
MonthlyIncome                 87
MonthlyRate                   87
NumCompaniesWorked            87
OverTime                      87
PercentSalaryHike             87
PerformanceRating             87
StandardHours                 87
StockOptionLevel              87
TotalWorkingYears             87
TrainingTimesLastYear         87
WorkLifeBalance               87
YearsAtCompany                87
YearsInCurrentRole            87
YearsSinceLastPromotion       87
YearsWithCurrManager          87
dtype: int64

In [15]:
df.loc[df["RecruitmentSource"]=="LinkedIn"].count() #Q8

Employee_Name                 76
EmpID                         76
MarriedID                     76
MaritalStatusID               76
Gender                        76
EmpStatusID                   76
DeptID                        76
PerfScoreID                   76
FromDiversityJobFairID        76
Salary                        76
Termd                         76
PositionID                    76
Position                      76
State                         76
Zip                           76
DOB                           76
Sex                           76
MaritalDesc                   76
CitizenDesc                   76
DateofHire                    76
DateofTermination             18
TermReason                    76
EmploymentStatus              76
Department                    73
ManagerName                   76
ManagerID                     72
RecruitmentSource             76
PerformanceScore              76
EngagementSurvey              76
EmpSatisfaction               76
SpecialProjectsCount          76
LastPerformanceReview_Date    76
DaysLateLast30                76
Absences                      76
DistanceFromHome              76
Age                           76
Attrition                     76
BusinessTravel                76
Education                     76
EducationField                76
JobSatisfaction               76
MonthlyIncome                 76
MonthlyRate                   76
NumCompaniesWorked            76
OverTime                      76
PercentSalaryHike             76
PerformanceRating             76
StandardHours                 76
StockOptionLevel              76
TotalWorkingYears             76
TrainingTimesLastYear         76
WorkLifeBalance               76
YearsAtCompany                76
YearsInCurrentRole            76
YearsSinceLastPromotion       76
YearsWithCurrManager          76
dtype: int64

In [16]:
df.loc[df["RecruitmentSource"]=="Website"].count() #Q8

Employee_Name                 13
EmpID                         13
MarriedID                     13
MaritalStatusID               13
Gender                        13
EmpStatusID                   13
DeptID                        13
PerfScoreID                   13
FromDiversityJobFairID        13
Salary                        13
Termd                         13
PositionID                    13
Position                      13
State                         13
Zip                           13
DOB                           13
Sex                           13
MaritalDesc                   13
CitizenDesc                   13
DateofHire                    13
DateofTermination              1
TermReason                    13
EmploymentStatus              13
Department                    13
ManagerName                   13
ManagerID                     13
RecruitmentSource             13
PerformanceScore              13
EngagementSurvey              13
EmpSatisfaction               13
SpecialProjectsCount          13
LastPerformanceReview_Date    13
DaysLateLast30                13
Absences                      13
DistanceFromHome              13
Age                           13
Attrition                     13
BusinessTravel                13
Education                     13
EducationField                13
JobSatisfaction               13
MonthlyIncome                 13
MonthlyRate                   13
NumCompaniesWorked            13
OverTime                      13
PercentSalaryHike             13
PerformanceRating             13
StandardHours                 13
StockOptionLevel              13
TotalWorkingYears             13
TrainingTimesLastYear         13
WorkLifeBalance               13
YearsAtCompany                13
YearsInCurrentRole            13
YearsSinceLastPromotion       13
YearsWithCurrManager          13
dtype: int64

In [ ]:
#Q8 the most common recruitment source => Indeed

In [17]:
for k in df.index: #Q9
    if (df.loc[k,"TotalWorkingYears"] == df["TotalWorkingYears"].max()):
        print(df.loc[k,'Employee_Name'])

Heitzman, Anthony

In [18]:
df.loc[df["ManagerName"]=="Peter Monroe"].count() #Q10

Employee_Name                 14
EmpID                         14
MarriedID                     14
MaritalStatusID               14
Gender                        14
EmpStatusID                   14
DeptID                        14
PerfScoreID                   14
FromDiversityJobFairID        14
Salary                        14
Termd                         14
PositionID                    14
Position                      14
State                         14
Zip                           14
DOB                           14
Sex                           14
MaritalDesc                   14
CitizenDesc                   14
DateofHire                    14
DateofTermination              1
TermReason                    14
EmploymentStatus              14
Department                    14
ManagerName                   14
ManagerID                     14
RecruitmentSource             14
PerformanceScore              14
EngagementSurvey              14
EmpSatisfaction               14
SpecialProjectsCount          14
LastPerformanceReview_Date    14
DaysLateLast30                14
Absences                      14
DistanceFromHome              14
Age                           14
Attrition                     14
BusinessTravel                14
Education                     14
EducationField                14
JobSatisfaction               14
MonthlyIncome                 14
MonthlyRate                   14
NumCompaniesWorked            14
OverTime                      14
PercentSalaryHike             14
PerformanceRating             14
StandardHours                 14
StockOptionLevel              14
TotalWorkingYears             14
TrainingTimesLastYear         14
WorkLifeBalance               14
YearsAtCompany                14
YearsInCurrentRole            14
YearsSinceLastPromotion       14
YearsWithCurrManager          14
dtype: int64

In [ ]:
#Q10 => 14 employees work under Peter Monroe

In [19]:
df.loc[df["Gender"]=="Male"].count() #Q11

Employee_Name                 193
EmpID                         193
MarriedID                     193
MaritalStatusID               193
Gender                        194
EmpStatusID                   193
DeptID                        193
PerfScoreID                   193
FromDiversityJobFairID        193
Salary                        193
Termd                         193
PositionID                    193
Position                      193
State                         193
Zip                           193
DOB                           193
Sex                           193
MaritalDesc                   193
CitizenDesc                   193
DateofHire                    193
DateofTermination              64
TermReason                    193
EmploymentStatus              193
Department                    183
ManagerName                   193
ManagerID                     187
RecruitmentSource             193
PerformanceScore              193
EngagementSurvey              193
EmpSatisfaction               193
SpecialProjectsCount          193
LastPerformanceReview_Date    193
DaysLateLast30                193
Absences                      193
DistanceFromHome              193
Age                           194
Attrition                     194
BusinessTravel                194
Education                     194
EducationField                194
JobSatisfaction               194
MonthlyIncome                 194
MonthlyRate                   194
NumCompaniesWorked            194
OverTime                      194
PercentSalaryHike             194
PerformanceRating             194
StandardHours                 194
StockOptionLevel              194
TotalWorkingYears             194
TrainingTimesLastYear         194
WorkLifeBalance               194
YearsAtCompany                194
YearsInCurrentRole            194
YearsSinceLastPromotion       194
YearsWithCurrManager          194
dtype: int64

In [ ]:
#Q10 There are 194 Male employees in the company.

In [23]:
for k in df.index: #Q9
    if (df.loc[k,"OverTime"] == "Yes"):
        print(df.loc[k,'Employee_Name'])

Boutwell, Bonalyn
Howard, Estelle
LeBlanc, Brandon  R
Steans, Tyrone
Clayton, Rick
Costello, Frank
Fett, Boba
Lindsay, Leonara
Roehrich, Bianca
Tannen, Biff
Tredinnick, Neville
Zamora, Jennifer
Zhou, Julia
Adinolfi, Wilson  K
Akinkuolie, Sarah
Alagbe,Trina
Barbara, Thomas
Barton, Nader
Beak, Kimberly
Beatrice, Courtney
Becker, Scott
Bugali, Josephine
Burkett, Benjamin
Candie, Calvin
Carey, Michael
Close, Phil
Clukey, Elijian
Cockel, James
Cole, Spencer
Corleone, Michael
Corleone, Vito
Darson, Jene'ya
DeGweck,  James
Desimone, Carl
Dunne, Amy
Eaton, Marianne
Erilus, Angela
Fidelia,  Libby
Fitzpatrick, Michael  J
Garcia, Raul
Gentry, Mildred
Girifalco, Evelyn
Gonzalez, Cayo
Gonzalez, Juan
Gross, Paula
Handschiegl, Joanne
Harrington, Christie
Hendrickson, Trina
Hudson, Jane
Jackson, Maryellen
Jhaveri, Sneha
Kirill, Alexandra
Landa, Hans
Leach, Dallas
Lynch, Lindsay
MacLennan, Samuel
Carthy, B'rigit
Moran, Patrick
Moumanil, Maliki
Ngodup, Shari
Nguyen, Lei-Ming
Nowlan, Kristie
Oliver, Brooke
Smith, Martin
Pelletier, Ermine
Pitt, Brad
Rarrick, Quinn
Robertson, Peter
Robinson, Alain
Robinson, Elias
Shields, Seffi
Sloan, Constance
Sparks, Taylor
Sullivan, Kissy
Tejeda, Lenora
Thibaud, Kenneth
Trang, Mei
Trzeciak, Cybil
Vega, Vincent
Volk, Colleen
Von Massenbach, Anna
Daneault, Lynn
Driver, Elle
Givens, Myriam
Nguyen, Dheepa
Strong, Caitrin
Valentin,Jackie
Andreola, Colby
Martin, Sandra

In [26]:
for k in df.index: #Q13
    if (df.loc[k, "Absences" ] == df["Absences"].max() ):
        print(df.loc[k,"Employee_Name"] & [k,"EmpSatisfaction"])

TypeError: unsupported operand type(s) for &: 'str' and 'list'

In [28]:
for k in df.index: #Q13
    if (df.loc[k, "Absences" ] == df["Absences"].max() ):
        print(df.loc[k,"Employee_Name"])

LeBlanc, Brandon  R
Goeth, Amon
Bates, Norman
Fitzpatrick, Michael  J
Good, Susan
Hankard, Earnest
Langford, Lindsey
Latif, Mohammed
Mckenna, Sandy
Sloan, Constance
Sparks, Taylor
Givens, Myriam
Guilianno, Mike
Kreuger, Freddy

In [29]:
for k in df.index: #Q13
    if (df.loc[k, "Absences" ] == df["Absences"].max() ):
        print(df.loc[k,"EmpSatisfaction"])

4.0
5.0
4.0
5.0
3.0
3.0
3.0
3.0
3.0
4.0
2.0
5.0
5.0
5.0

In [30]:
for k in df.index: #Q14
    if (df.loc[k,"TermReason"]=="military"):
        print(df.loc[k,"Employee_Name"])

Eaton, Marianne
Ferguson, Susan
Gilles, Alex
Thibaud, Kenneth

In [31]:
for k in df.index: #Q15
    if (df.loc[k,"CitizenDesc"]=="US Citizen"):
        if (df.loc[k,"State"]=="CT"):
            print(df.loc[k,"Employee_Name"])

Booth, Frank
Cross, Noah
Daniele, Ann
Galia, Lisa
Lindsay, Leonara
Fraval, Maruk

In [ ]:
#Q15 => There are 6 employees from CT state who are US citizens