In [1]:
print('Hello World')

Hello World

In [2]:
import pandas as pd

df = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [3]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [4]:
# Answer to the assignment


def Season(spring):
    if spring >= 2700:
        print('It is Springtime')
    else:
        print('It is not Springtime')
def Season(summer):
    if summer >= 900:
        print('It is summer')
    else:
        print('It is not summer')
def Season(autumn):
    if autumn >= 1600:
        print('It is autumn')
    else:
        print('It is not autumn')
def Season(winter):
    if winter >= 780:
        print('It is winter')
    else:
        print('It is not winter')