In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

np.random.seed(42)

In [2]:
df = pd.read_csv('./data/classroom_actions.csv')
df.head()

                    timestamp      id       group  total_days  completed
0  2015-08-10 17:06:01.032740  610019  experiment          97       True
1  2015-08-10 17:15:28.950975  690224     control          75      False
2  2015-08-10 17:34:40.920384  564994  experiment         128       True
3  2015-08-10 17:50:39.847374  849588  experiment          66      False
4  2015-08-10 19:10:40.650599  849826  experiment          34      False

In [ ]:
# The total_days represents the total amount of time
# each student has spent in classroom.
# get the average classroom time for control group
control_mean = 

# get the average classroom time for experiment group
experiment_mean = 

# display average classroom time for each group
control_mean, experiment_mean

In [ ]:
# compute observed difference in classroom time
obs_diff = 

# display observed difference
obs_diff

In [ ]:
# create sampling distribution of difference in average classroom times
# with boostrapping
diffs = []
for _ in range(10000):

In [ ]:
# convert to numpy array

In [ ]:
# plot sampling distribution

In [ ]:
# simulate distribution under the null hypothesis
null_vals =

In [ ]:
# plot null distribution


# plot line for observed statistic

In [ ]:
# compute p value