In [4]:
import numpy as np
import pandas as pd

# Display 함수
- 하나의 셀에서 여러 Dataframe을 출력할 수 있게함

In [11]:
from IPython.display import display

In [12]:
iris={
"Sepal_Length":[5.1,4.9,4.7,4.6,5  ,5.4,4.6,5  ],
"Sepal_Width": [3.5,3  ,3.2,3.1,3.6,3.9,3.4,3.4]
}

frame1 = pd.DataFrame(data = iris)
frame1
display(frame1)

frame2 = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
display(frame2)

   Sepal_Length  Sepal_Width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4
7           5.0          3.4

   A
0  4
1  5
2  6
3  7

In [7]:
pd.DataFrame(my_df)

   A
0  4
1  5
2  6
3  7